.container{
    display: flex;
    flex-direction: row;
    
    
    
}

.content{
    margin-left: 25%;
}

@media screen and (max-width: 1600px) {
    .container{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 500px) {
    .content {
            margin-left: 10%;
        }
}
