.container{
    display: flex;
    flex-direction: row;
    
    
    
}

.content{
    margin-left: 25%;
}

@media screen and (max-width: 1600px) {
    

    .profile-container{
        padding-left: 25%;
        padding-top: 10%;
        position: sticky;
    }
    
}

@media screen and (max-width: 500px) {

    .container{
        display: flex;
        flex-direction: column;
    }
    .content {
            margin-left: 10%;
        }
}
