.about-me{
    font-family: "Fira Code", sans-serif;
    font-weight: 500;
    padding-top: 3%;
    font-size: 30px;
}

.about-container{
    padding-right: 10%;
}
.text{
    font-family: "Poppins",sans-serif;
    opacity: 0.8;
}

